@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Installed Clocks</h2>
        @Html.ListBox("installedScripts",new SelectList(from item in Model.InstalledScripts select item.Name));
    </div>
    <div class="col-md-3">
        <button onclick="loadPreview()">Preview</button>
        <button onclick="runClock()">Run</button>
    </div>
    
    
</div>
<div class="row">
    <img id="preview" />
</div>